@model Calculator
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Wynik</h2>
<H2>@Model.X @Model.Op @Model.Y = </H2>
<h3 class="text-danger">@Model.Calculate()</h3>
